# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=checkout
DATABASE_PASSWORD=checkout
DATABASE_NAME=checkout_db

# Backend
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Fees (COP cents)
BASE_FEE_CENTS=500000
DELIVERY_FEE_CENTS=700000

# Wompi Sandbox (use your keys from test document)
WOMPI_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
WOMPI_PUBLIC_KEY=pub_stagtest_g2u0HQd3ZMh05hsSgTS2lUV8t3s4mOt7
WOMPI_PRIVATE_KEY=prv_stagtest_5i0ZGIGiFcDQifYsXxvsny7Y37tKqFWg
WOMPI_INTEGRITY_SECRET=stagtest_integrity_nAIBuqayW70XpUqJS4qf4STYiISd89Fp
